@model IEnumerable<WhiteLagoon.Domain.Entities.Villa>

<h2>Villa List</h2>


<table class="table table-borderd table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Sqft</th>
            <th>Occupancy</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Price</td>
                <td>@obj.Sqft</td>
                <td>@obj.Occupancy</td>
            </tr>
        }
    </tbody>
</table>